// Here you can add other styles
:root {
  --color-main: #2699fb;
  --color-sub: #bce0fd;
  --color-bg: #f1f9ff;
  --color-white: #ffffff;
}
body {
  background: var(--color-bg);
}
.color-main {
  color: var(--color-main);
}
.sidebar {
  background: var(--color-main);
  .nav-link.active {
    background: black;
    opacity: 0.5;
  }
}
div,
table,
.card,
.tab-content,
.nav-tabs .nav-link.active,
.card-header {
  border-color: var(--color-sub);
}

.card-header {
  background: var(--color-white);
}

.img-avatar {
  width: 35px !important;
  height: 35px !important;
  object-fit: cover;
}
