div.app > div.container > div.row > div.col-md-6 {
  max-width: 28.75rem;
  height: 32.1875rem; }

div.app > div.container > div.row > div.col-md-6 > div.card {
  max-width: 28.75rem;
  height: 32.1875rem;
  border-color: white;
  box-shadow: 0px 0px 10px #e1f1f2;
  margin-top: -30px; }

@font-face {
  font-family: 'Karla-Bold';
  src: local("Karla-Bold"), url("../react-font/Karla-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Karla-Regular';
  src: local("Karla-Regular"), url("../react-font/Karla-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Rubik-Bold';
  src: local("Rubik-Bold"), url("../react-font/Rubik-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Rubik-Light';
  src: local("Rubik-Light"), url("../react-font/Rubik-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Rubik-Medium';
  src: local("Rubik-Medium"), url("../react-font/Rubik-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Rubik-Regular';
  src: local("Rubik-Regular"), url("../react-font/Rubik-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: local("SourceSansPro-Bold"), url("../react-font/SourceSansPro-Bold.ttf") format("truetype"); }

h1.color-main {
  font-family: 'Rubik-Light';
  font-size: 2.25rem;
  color: #3B4859;
  margin-top: 1.25rem; }

p.color-main {
  font-family: 'Karla-Regular';
  font-size: 1rem;
  color: #8392A7;
  margin-top: 1rem;
  margin-bottom: 1.5625rem; }

div.app {
  background-color: #F9FAFC !important; }

div.container div.form-group > label {
  font-family: 'Rubik-Medium';
  font-size: 0.875rem;
  color: #3B4859; }

div.container div.form-group > input {
  height: 3.25rem;
  font-family: 'Karla-Regular';
  font-size: 1rem;
  color: #3B4859;
  width: 90% !important;
  margin-bottom: 1.25rem; }

.circle {
  float: right;
  font-size: 24px;
  color: #3B4859;
  bottom: 59px;
  position: relative; }

div.container div.row > div.text-right > button {
  font-family: 'Rubik-Medium';
  font-size: 0.875rem;
  color: #79BFBC;
  margin-bottom: 0.875rem; }

.ml-4, .mx-4 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

div > div.col-md-auto > button {
  font-family: 'Rubik-Regular';
  font-size: 0.875rem;
  color: #3B4859; }

div.justify-content-center > div.col-md-auto > button {
  width: 11rem !important;
  height: 3.125rem !important;
  background-image: linear-gradient(90deg, #76D5CE, #5FB2AE) !important;
  border-color: transparent;
  background-color: transparent;
  font-family: 'Karla-Bold';
  font-size: 1rem;
  color: #FFFFFF; }

.SignupButton {
  margin-left: 13%; }

div.app > div.container > div.row > div.Register.col-md-6 {
  height: 42.875rem;
  margin-top: -30px; }

div.app > div.container > div.row > div.Register.col-md-6 > div.card {
  height: 42.875rem;
  margin-top: -15px; }

div.Link-to-signin > div.col-md-auto {
  font-family: 'Rubik-Regular';
  font-size: 0.875rem;
  color: #3B4859; }

div.Link-to-signin > div.col-md-auto > a {
  font-family: 'Rubik-Bold';
  font-size: 0.875rem;
  color: #3B4859;
  text-decoration: underline;
  padding-left: 5px; }

div.Link-to-signup > div.col-md-auto > a {
  font-family: 'Rubik-Bold';
  font-size: 0.875rem;
  color: #3B4859;
  text-decoration: underline;
  padding-left: 5px; }

.Carrier {
  background-color: #FFFFFF;
  height: 3.25rem;
  width: 23.75rem;
  border: 1px solid #e4e7ea;
  border-radius: 5px;
  font-family: 'Karla-Regular';
  font-size: 1rem;
  color: rgba(59, 72, 89, 0.8) !important; }

.Carrier:hover {
  background-color: #FFFFFF;
  border: 1px solid #e4e7ea; }

.Carrier::after:hover {
  background-color: #FFFFFF; }

button.Carrier.dropdown-toggle.btn.btn-secondary.btn-lg {
  text-align: left;
  font-family: 'Karla-Regular';
  font-size: 1rem;
  color: #3B4859;
  background-color: #FFFFFF;
  box-shadow: none; }

.dropdown-toggle::after {
  display: none !important; }

.btn-group, .btn-group-vertical {
  width: 90% !important; }

.angleDown {
  position: relative;
  top: 6px;
  vertical-align: middle;
  color: #3B4859;
  float: right;
  font-family: 'Karla-Regular'; }

.carrierChoice {
  width: 23.75rem !important;
  font-family: 'Karla-Regular';
  font-size: 1rem; }

button.Carrier.dropdown-toggle.btn.btn-secondary.btn-lg, .btn-group-lg > button.Carrier.dropdown-toggle.btn.btn-secondary {
  border: 1px solid #e4e7ea !important; }

.CarrierTooltip {
  bottom: 40px; }

.sidebar .nav-link.active {
  background-color: #34404F !important;
  color: #FFF;
  opacity: 1.0; }

.sidebar .nav-link {
  color: #B1B6BD;
  font-family: 'Karla-Bold';
  font-size: 0.875rem; }

:root {
  --color-main: #3B4859;
  --color-sub: #BCE0FD;
  --color-bg: #F1F9FF;
  --color-white: #FFFFFF; }

.NotValid {
  font-family: 'Karla-Regular';
  font-size: 1rem;
  color: #ff8a8e;
  font-weight: 700;
  margin-top: 1rem;
  display: none;
  text-align: center;
  margin-bottom: 1.625rem; }

.sidebar .nav-item {
  margin-top: 5px;
  color: #B1B6BD; }

.sidebar-fixed .sidebar {
  width: 246px; }

.sidebar .sidebar-nav {
  width: 246px; }

.sidebar .nav {
  width: 246px; }

html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
  margin-left: 240px; }

.sidebar-minimized .sidebar .nav-link:hover {
  width: 50px; }

.sidebar-minimized .sidebar .nav-link {
  width: 50px !important;
  color: transparent; }

.sidebar-minimized .sidebar .nav > .nav-item > .nav-link > .Style:hover {
  display: none; }

i.nav-icon {
  color: #B1B6BD !important; }

.sidebar .nav-link.active {
  border-left: 4px solid #79BFBC; }

.sidebar .nav-link.active > i.nav-icon {
  color: #79BFBC !important; }

.headerName {
  width: 246px;
  background: #79BFBC;
  color: #FFFFFF;
  text-align: center;
  line-height: 49px;
  font-family: 'SourceSansPro-Bold';
  font-size: 0.9375rem; }

.adminName {
  vertical-align: middle; }

.admin {
  margin: auto; }

.app-header .navbar-brand {
  background-color: #79BFBC;
  width: 246px; }

.brand-minimized .app-header .navbar-brand {
  background-color: #79BFBC; }

.app-header .navbar-nav {
  padding-right: 24px; }

.icon-arrow-down {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  font-weight: 900;
  color: #8392A7;
  font-size: 11px; }

.alignPlan {
  padding: 30px;
  padding-bottom: 0px !important;
  font-size: 28px;
  font-family: 'Rubik-Light';
  color: #3B4859; }

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 4px solid #76D5CE;
  background-color: transparent;
  font-family: 'Rubik-Medium';
  color: #76D5CE;
  width: 150px;
  text-align: center; }

.nav-tabs .nav-link {
  border: none;
  width: 150px;
  text-align: center;
  font-family: 'Rubik-Regular'; }

.tab-content .tab-pane {
  height: 226px; }

.enableChat {
  float: left;
  padding: 20px; }

.enableChat > label {
  font-family: 'Rubik-Regular'; }

.form-check-input {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%; }

.styled-input-single {
  position: relative;
  padding: 20px 0 20px 40px;
  text-align: left; }
  .styled-input-single label {
    cursor: pointer; }
    .styled-input-single label:before, .styled-input-single label:checked {
      content: '';
      position: absolute;
      top: 50%; }
    .styled-input-single label:before {
      left: 0;
      width: 30px;
      height: 30px;
      margin: -15px 0 0;
      background: #f7f7f7;
      box-shadow: 0 0 1px grey; }
    .styled-input-single label:checked {
      left: 5px;
      width: 20px;
      height: 20px;
      background: #37b2b2; }
  .styled-input-single input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden; }
    .styled-input-single input[type="checkbox"]:checked + label:after {
      transform: translate3d(0, 0, 0);
      opacity: 1; }

.styled-input--square label:before, .styled-input--square label:after {
  border-radius: 0; }

input[type="radio"]:checked + label:after,
input[type="checkbox"]:checked + label:after {
  transform: rotate(45deg);
  opacity: 1; }

.enableHis {
  float: right; }

/*media section*/
@media (min-width: 768px) and (max-width: 991px) {
  div.app > div.container > div.row > div.col-md-6 > div.card {
    width: 416px; }
  div.app > div.container > div.row > div.col-md-6 {
    width: 430px; } }

@media (max-width: 991px) {
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main {
    margin-left: 46px; }
  .sidebar .nav-link .nav-icon {
    float: right;
    text-align: center;
    margin-right: 0px; }
  button:focus {
    outline: none; }
  html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main {
    margin-left: 247px; }
  .sidebar-minimized .sidebar .nav-link {
    width: 50px !important; }
  .headerName {
    display: none; } }
