.requestTable * {
  border: none; }

.requestTable .react-bs-container-header table {
  margin: 0; }

.requestTable .react-bs-container-body .table tbody > tr {
  margin-bottom: 10px !important; }

.card {
  box-shadow: none;
  border-radius: none;
  border-color: transparent;
  background-color: transparent; }

.alignRequest {
  padding: 30px;
  padding-left: 24px !important;
  padding-bottom: 0px !important;
  font-size: 28px;
  font-family: 'Rubik-Light';
  color: #3B4859; }

.requestTable thead th {
  border: none;
  border-width: 0px;
  border-bottom: none;
  font-family: 'Rubik-Medium';
  font-size: 12px;
  color: #3B4859 !important; }

.requestTable td {
  background-color: white !important;
  border-color: #ffffff !important;
  border-radius: 0px;
  vertical-align: middle; }

.requestTableTbody tr {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  line-height: 34px; }

.requestTableTbody td {
  font-family: 'Karla-Regular';
  font-size: 14px;
  color: #3B4859 !important; }

.LinkName {
  color: #3B4859 !important; }

.requestTable {
  padding-left: 10px; }

a {
  text-decoration: none !important; }

.alignReviewed {
  border: 1px solid #79BFBC;
  position: relative;
  right: 17px;
  height: 25px;
  bottom: 1px;
  border-radius: 15px;
  background-color: #79BFBC;
  width: 82px; }

.reviewed {
  position: relative;
  left: 11px;
  bottom: 6px;
  color: #FFFFFF; }

.alignAccepted {
  border: 1px solid #1924c0;
  position: relative;
  right: 17px;
  height: 24px;
  bottom: 1px;
  border-radius: 15px;
  background-color: #1924c0;
  width: 82px; }

.accepted {
  position: relative;
  left: 11px;
  bottom: 6px;
  color: #FFFFFF; }

.threeDot {
  color: #3B4859;
  position: relative;
  left: 13px;
  bottom: 7px;
  font-weight: 900;
  font-size: x-large; }

.colorAcceptButton {
  color: white;
  background-color: #29572a;
  position: relative;
  right: 10px;
  border-radius: 10px;
  width: 74.8px; }

.colorAcceptButton:hover {
  background-color: #29572a;
  color: white;
  cursor: pointer; }

.colorAcceptedButton {
  color: white;
  background-color: #3B4859;
  position: relative;
  right: 10px;
  border-radius: 10px; }

.colorAcceptedButton:hover {
  background-color: #3B4859;
  color: white;
  cursor: not-allowed; }

.alignAction {
  padding-left: 41px !important; }

.colorAfterAcceptButton {
  background-color: #3B4859;
  color: white;
  position: relative;
  top: 6px;
  border-radius: 10px;
  cursor: not-allowed; }

th.sort-column {
  position: relative;
  left: 21px;
  top: 6px; }

.pagination {
  justify-content: center;
  float: right; }

.page-link:focus {
  box-shadow: none; }

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none; }

.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none; }

.dropdown-menu {
  top: auto;
  bottom: 100%; }

.divColumn {
  border: 1px solid #E86D6D;
  position: relative;
  left: 3px;
  height: 24px;
  bottom: 1px;
  border-radius: 15px;
  width: 82px;
  background-color: #E86D6D; }

.spanColumn {
  position: relative;
  left: 13px;
  bottom: 6px;
  color: white; }

.reviewedColumn {
  position: relative;
  left: 11px;
  bottom: 6px;
  color: white; }

.acceptedColumn {
  position: relative;
  left: 11px;
  bottom: 6px;
  color: white; }

.acceptColumn {
  border: 1px solid #0e0282;
  position: relative;
  left: 3px;
  height: 24px;
  bottom: 1px;
  border-radius: 15px;
  width: 82px;
  background-color: #0e0282; }

.reviewColumn {
  border: 1px solid #0b9609;
  position: relative;
  left: 3px;
  height: 24px;
  bottom: 1px;
  border-radius: 15px;
  width: 82px;
  background-color: #0b9609; }

.colorAcceptedButtonAcceptedPage {
  color: white;
  background-color: #0e0282;
  position: relative;
  right: 10px;
  border-radius: 10px; }

.colorAcceptedButtonAcceptedPage:hover {
  background-color: #0e0282;
  color: white;
  cursor: pointer; }

.colorReviewedButtonAcceptedPage {
  color: white;
  background-color: #29572a;
  position: relative;
  right: 10px;
  border-radius: 10px; }

.colorReviewedButtonAcceptedPage:hover {
  background-color: #29572a;
  color: white;
  cursor: pointer; }

.AlignOperator {
  padding-left: 9px; }
