.alignRequestIndex {
  font-size: 28px;
  color: #3b4859;
  font-family: "Rubik-Light";
  margin-right: 10px;
}
.alignHeader {
  align-items: center;
  display: flex;
}
.right {
  justify-content: flex-end;
}
.requestHeader {
  margin: 14px 0;
}
.adjustButtonHistory {
  width: fit-content;
  border-radius: 2px;
  border: 2px solid #79bfbc;
  font-family: "Karla-Bold";
  font-size: 16px;
  color: #79bfbc;
  background-color: #f9fafc;
}
.statusLabel {
  border: 1px solid #79bfbc;
  padding: 2px 15px;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  border-radius: 15px;
  background-color: #ffffff;
  color: #79bfbc;
}
.requestFormIndex {
  padding: 20px;
  background-color: #ffffff;
  border-color: #ffffff !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
}
.asideIndex {
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  border-color: white;
}
.label {
  font-family: "Rubik-Medium";
  font-size: 14px;
  color: #3b4859;
  padding-bottom: 10px;
}
.textArea {
  width: 100%;
  height: 104px;
  border: 1px solid #a0acbc;
  border-radius: 5px;
  font-family: "Karla-Regular";
  font-size: 16px;
  color: rgba(59, 72, 89, 0.7);
  padding-left: 20px;
  padding-top: 17px;
}
.alignFormGroup {
}
.alignFormGroupStatus {
}

/* Create a custom checkbox */
.radioContainer {
  display: inline;
  margin-right: 80px;
  position: relative;
  bottom: 18px;
  padding-left: 35px;
  margin-bottom: 12px;
  line-height: 25px;
  cursor: pointer;
  font-size: 22px;
  user-select: none input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #79bfbb;
    border-radius: 25px;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark {
    background-color: #79bfbb;
  }
  input:checked ~ & {
    border: 1px solid #79bfbb;
  }
  &:hover input ~ .checkmark {
    background-color: #79bfbb7a;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.adjustSubmitButton {
  width: 140px;
  line-height: 30px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #76d5ce, #5fb2ae);
  font-family: "Karla-Bold";
  font-size: 16px;
  color: #ffffff;
  border: none;
}
.adjustListgroup {
  line-height: 37px;
  position: relative;
  border: none;
  background-color: transparent;
}
.textLeft {
  font-family: "Rubik-Medium";
  font-size: 12px;
  color: #3b4859;
}
.textRight {
  font-family: "Karla-Regular";
  font-size: 14px;
  color: #3b4859;
}
.textRightOffer {
  font-family: "Karla-Regular";
  font-size: 14px;
  color: #76d4cd;
  cursor: pointer;
}
.tableRequest_1 {
  background-color: white;
  position: relative;
}
.billText {
  border-bottom: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  border-right-color: white;
  border-top-color: white;
  border-left-color: white;
  font-family: "Rubik-Light";
  font-size: 24px;
  color: #3b4859;
  padding-left: 28px;
  padding-top: 26px;
}
.cardBodyBill {
  background-color: white;
}
.alignTable {
  padding: 20px;
  padding-top: 0px;
}
.thead {
  font-family: "Rubik-Medium";
  font-size: 12px;
  color: #3b4859;
}
.tbody {
  font-family: "Karla-Regular";
  font-size: 14px;
  color: #3b4859;
}
.fullHistory {
  font-family: "Karla-Bold";
  font-size: 16px;
  color: #76d4cd;
  position: relative;
  left: 9px;
  cursor: pointer;
}
.memoFormIndex {
  height: 253px;
  padding: 20px;
  background-color: #ffffff;
  border-color: #ffffff !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
}
.textAreaMemo {
  height: 104px !important;
  border: 1px solid #a0acbc;
  border-radius: 5px;
  font-family: "Karla-Regular";
  font-size: 16px;
  color: rgba(59, 72, 89, 0.7);
  padding-left: 20px;
  padding-top: 17px;
}
.adjustSaveButton {
  width: 140px;
  line-height: 30px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #76d5ce, #5fb2ae);
  font-family: "Karla-Bold";
  font-size: 16px;
  color: #ffffff;
  border: none;
}
// @media (min-width: 992px) {
//     .asideIndex{
//         width: 543px;
//         left: 93px;
//     }
//     .requestFormIndex{
//         width: 700px;
//     }
//     .textArea{
//         width: 645px;
//     }
// }
