.requestMain {
  border: none;
  border-collapse: separate;
  border-spacing: 0px 15px; }

.card {
  box-shadow: none;
  border-radius: none;
  border-color: transparent;
  background-color: transparent; }

.alignRequest {
  padding: 30px;
  padding-left: 8px !important;
  padding-bottom: 0px !important;
  font-size: 28px;
  font-family: 'Rubik-Light';
  color: #3B4859; }

.requestMain thead th {
  border: none;
  border-width: 0px;
  border-bottom: none;
  font-family: 'Rubik-Medium';
  font-size: 12px;
  color: #3B4859 !important; }

.requestMain td {
  background-color: white !important;
  border-color: #ffffff !important;
  border-radius: 0px;
  vertical-align: middle; }

.requestMainTbody tr {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  line-height: 34px; }

.requestMainTbody td {
  font-family: 'Karla-Regular';
  font-size: 14px;
  color: #3B4859 !important; }

.LinkName {
  color: #3B4859 !important; }

.requestMain {
  padding-left: 10px; }

.alignPending {
  border: 1px solid #79BFBC;
  position: relative;
  right: 17px;
  height: 24px;
  bottom: 1px;
  border-radius: 15px;
  width: 82px; }

.pending {
  position: relative;
  left: 13px;
  bottom: 6px;
  color: #79BFBC; }

a {
  text-decoration: none !important; }

.alignRejected {
  border: 1px solid #E86D6D;
  position: relative;
  right: 17px;
  height: 24px;
  bottom: 1px;
  border-radius: 15px;
  background-color: #E86D6D;
  width: 82px; }

.rejected {
  position: relative;
  left: 13px;
  bottom: 6px;
  color: #FFFFFF; }

.alignAccepted {
  border: 1px solid #79BFBC;
  position: relative;
  right: 17px;
  height: 24px;
  bottom: 1px;
  border-radius: 15px;
  background-color: #79BFBC;
  width: 82px; }

.accepted {
  position: relative;
  left: 11px;
  bottom: 6px;
  color: #FFFFFF; }

.threeDot {
  color: #3B4859;
  position: relative;
  left: 13px;
  bottom: 7px;
  font-weight: 900;
  font-size: x-large; }
