.alignRequestIndex {
  font-size: 28px;
  color: #3B4859;
  font-family: 'Rubik-Light';
  position: relative;
  top: 5px; }

.alignHeader {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 25px; }

.adjustButtonHistory {
  width: 140px;
  line-height: 30px;
  border-radius: 2px;
  border: 2px solid #79BFBC;
  font-family: 'Karla-Bold';
  font-size: 16px;
  color: #79BFBC;
  background-color: #F9FAFC;
  bottom: 2px;
  position: relative; }

.floatLeft {
  border: 1px solid #79BFBC;
  position: relative;
  right: 138px;
  height: 25px;
  bottom: 44px;
  border-radius: 15px;
  width: 82px;
  float: right;
  background-color: #FFFFFF; }

.pending_index {
  position: relative;
  left: 13px;
  color: #79BFBC; }

.requestFormIndex {
  height: 415px;
  width: 650px;
  background-color: #FFFFFF;
  border-color: #ffffff !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  position: relative;
  bottom: 31px;
  left: 17px; }

.asideIndex {
  height: 417px;
  width: 396px;
  position: relative;
  left: 133px;
  bottom: 32px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  border-color: white; }

.label {
  font-family: 'Rubik-Medium';
  font-size: 14px;
  color: #3B4859;
  padding-bottom: 10px; }

.textArea {
  width: 600px;
  height: 104px;
  border: 1px solid #A0ACBC;
  border-radius: 5px;
  font-family: 'Karla-Regular';
  font-size: 16px;
  color: rgba(59, 72, 89, 0.7);
  padding-left: 20px;
  padding-top: 17px; }

.alignFormGroup {
  padding-left: 26px;
  padding-right: 20px;
  padding-top: 20px; }

.alignFormGroupStatus {
  padding-left: 26px;
  padding-right: 20px; }

.enableAccept {
  float: left;
  padding: 20px;
  padding-left: 0px;
  padding-top: 14px; }

.enableDecline {
  padding: 20px;
  padding-left: 0px;
  padding-top: 14px; }

input:checked + label.enableAccept > .faCircle-1 {
  height: 24px;
  animation: draw-checkbox ease-in-out 0.2s forwards;
  background-color: #76D5CE;
  color: white;
  width: 2em; }

label.enableAccept:active::after {
  background-color: #76D5CE; }

label.enableAccept {
  color: #3B4859;
  font-family: 'Rubik-Regular';
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  position: relative;
  bottom: 42px; }
  label.enableAccept:after {
    content: "";
    height: 22px;
    width: 22px;
    margin-right: 1rem;
    float: left;
    border: 1px solid #A0ACBC;
    border-radius: 100%;
    transition: 0.15s all ease-out; }

.faCircle-1 {
  color: transparent;
  stroke-width: 2px;
  height: 0;
  width: 22px !important;
  height: 22px !important;
  font-size: 14px;
  position: absolute;
  right: 82px;
  border-radius: 100%;
  padding: 8px;
  stroke-dasharray: 33; }

input:checked + label.enableDecline > .faCircle-2 {
  height: 24px;
  animation: draw-checkbox ease-in-out 0.2s forwards;
  background-color: #76D5CE;
  color: white;
  width: 2em; }

label.enableDecline:active::after {
  background-color: #76D5CE; }

label.enableDecline {
  color: #3B4859;
  font-family: 'Rubik-Regular';
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  position: relative;
  bottom: 42px; }
  label.enableDecline:after {
    content: "";
    height: 22px;
    width: 22px;
    margin-right: 1rem;
    float: left;
    border: 1px solid #A0ACBC;
    border-radius: 100%;
    transition: 0.15s all ease-out; }

.faCircle-2 {
  color: transparent;
  stroke-width: 2px;
  height: 0;
  width: 22px !important;
  height: 22px !important;
  position: absolute;
  top: 14px;
  border-radius: 100%;
  padding: 8px;
  right: 88px;
  stroke-dasharray: 33; }

.adjustSubmitButton {
  width: 140px;
  line-height: 30px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #76D5CE, #5FB2AE);
  font-family: 'Karla-Bold';
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  position: relative;
  bottom: 60px;
  left: 27px; }

.increaseHeight {
  height: 415px; }

.adjustListgroup {
  line-height: 37px;
  position: relative;
  border: none;
  background-color: transparent; }

.textLeft {
  font-family: 'Rubik-Medium';
  font-size: 12px;
  color: #3B4859; }

.textRight {
  font-family: 'Karla-Regular';
  font-size: 14px;
  color: #3B4859; }

.textRightOffer {
  font-family: 'Karla-Regular';
  font-size: 14px;
  color: #76D4CD;
  cursor: pointer; }

.tableRequest_1 {
  background-color: white;
  position: relative; }

.billText {
  position: relative;
  left: 17px;
  bottom: 10px;
  width: 1083px;
  border-bottom: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  border-right-color: white;
  border-top-color: white;
  border-left-color: white;
  font-family: 'Rubik-Light';
  font-size: 24px;
  color: #3B4859;
  padding-left: 28px;
  padding-top: 26px; }

.cardBodyBill {
  position: relative;
  bottom: 10px;
  width: 1083px;
  left: 17px;
  background-color: white; }

.alignTable {
  padding: 20px;
  padding-top: 0px; }

.thead {
  font-family: 'Rubik-Medium';
  font-size: 12px;
  color: #3B4859; }

.tbody {
  font-family: 'Karla-Regular';
  font-size: 14px;
  color: #3B4859; }

.fullHistory {
  font-family: 'Karla-Bold';
  font-size: 16px;
  color: #76D4CD;
  position: relative;
  left: 9px;
  cursor: pointer; }

.memoFromIndex {
  height: 253px;
  width: 1083px;
  background-color: #FFFFFF;
  border-color: #ffffff !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04) !important;
  position: relative;
  left: 17px; }

.textAreaMemo {
  width: 1030px;
  height: 104px !important;
  border: 1px solid #A0ACBC;
  border-radius: 5px;
  font-family: 'Karla-Regular';
  font-size: 16px;
  color: rgba(59, 72, 89, 0.7);
  padding-left: 20px;
  padding-top: 17px; }

.adjustSaveButton {
  width: 140px;
  line-height: 30px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #76D5CE, #5FB2AE);
  font-family: 'Karla-Bold';
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  position: relative;
  left: 27px; }
