// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui.scss";
// Temp fix for reactstrap
@import "@coreui/coreui/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

//CSS custom by Nantapat
@import "offer.scss";
@import "profile.scss";
@import "operator.scss";
@import "request.scss";
@import "request_index.scss";
@import "adjust_custom.scss";
@import "plans.scss";

span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: "Rubik-Medium" !important;
}

.mobacon-btn {
  padding: 11px 16px;
  background-image: linear-gradient(90deg, #76d5ce, #5fb2ae) !important;
  border-color: transparent;
  background-color: transparent;
  font-family: "Karla-Bold";
  font-size: 1rem;
  color: #ffffff;
  margin-top: 9px;
}

.btn-outline-status {
  color: #79bfbc;
  background-color: transparent;
  background-image: none;
  border-color: #79bfbc;
  border-radius: 30px;
}

.btn-declined {
  color: #fff;
  background-color: #dc3545;
  background-image: none;
  border-radius: 30px;
}

.btn-radius {
  border-radius: 30px;
}

.action-btn {
  background-color: #fff;
  color: black;
  border: none;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  outline: none;
}

.rt-td {
  overflow: visible !important;
}

.white-card {
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 14px 2px rgba(100, 100, 100, 0.1);
  input {
    width: 100%;
  }
  h1 {
    border-bottom: #60b3ae;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-right-radius: 20px;
  }
}

.ribbon {
  padding: 5px;
}
.ribbon.base {
  background: #3498db;
  color: #fff;
}
.ribbon.base.green {
  background: #79bfbc;
}

.ribbon.base.gray {
  background: gray;
}

